@mixin layout-sizing {
  max-width: 990px;
  width: 100%;
  margin: 0 auto;
}

@mixin checked-state {
  content: "";
  position: absolute;
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid $color-neutral-900;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

// MEDIA QUERY MANAGER (can change breakpoints as needed, just boilerplate)
/*
0 - 600px:        Phone
600 - 900px:      Tablet Portrait
900 - 1200px:     Tablet Landscape
[1200 - 1800px]:  Desktop - Where Normal Styles Apply
1800px + :        Big Desktop
*/

/*
$breakpoint argument choices: 
- phone
- phone-l
- tab-port
- tab-land
- big-desktop

1em = 16px;


ORDER [When refactoring for responsiveness]: Base + typography > general layout + grid > page layout > components
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 31.25em) {
      //500px
      @content;
    }
  }

  @if $breakpoint == phone-l {
    @media only screen and (max-width: 40em) {
      //640px
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (max-width: 65.5em) {
      //1048px
      @content;
    }
  }

  @if $breakpoint == big-desktop {
  }
}
