@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
  --title-text: #f2f2f7;
  --input-text: #e4e4ef;
  --body-text: #e4e4ef;
  --box-bar-bg: #21222c;
  --box-border: #2a2b37;
  --box-hover: #2a2b37;
  --box-border-hover: #404254;
  --box-focus: #21222c;
  --mode-box: #2a2b37;
  --error: #fe8159;
  --body-background: url(/assets/images/bg-dark-theme.png);
}

[data-theme=light] {
  --title-text: #12131a;
  --input-text: #2a2b37;
  --body-text: #12131a;
  --box-bar-bg: #f2f2f7;
  --box-border: #e4e4ef;
  --box-border-hover: #e4e4ef;
  --box-hover: #e4e4ef;
  --box-focus: #e4e4ef;
  --mode-box: #f2f2f7;
  --error: #da3701;
  --body-background: url(/assets/images/bg-light-theme.png);
}

/*
0 - 600px:        Phone
600 - 900px:      Tablet Portrait
900 - 1200px:     Tablet Landscape
[1200 - 1800px]:  Desktop - Where Normal Styles Apply
1800px + :        Big Desktop
*/
/*
$breakpoint argument choices: 
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px;


ORDER [When refactoring for responsiveness]: Base + typography > general layout + grid > page layout > components
*/
body {
  font-size: 2rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.6px;
  color: var(--body-text);
}

.title {
  font-size: 6.4rem;
  letter-spacing: -1px;
  line-height: 100%;
  font-weight: 700;
  color: var(--title-text);
  width: 510px;
  text-align: center;
}

.subtitle {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -1px;
}

.label {
  font-size: 1.6rem;
  line-height: 130%;
}

.error-message {
  font-size: 1.6rem;
  line-height: 130%;
  color: var(--error);
  opacity: 0;
  display: none;
  transition: opacity 0.5s ease;
  margin-bottom: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* Default browser font size is 16px. This gives you 10px baseline, making it easier to calculate rems*/
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background-image: var(--body-background);
  padding-top: 32px;
  padding-bottom: 64px;
}

main {
  max-width: 990px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.input-container {
  width: 100%;
}

.input-textarea {
  width: 100%;
  height: 200px;
  padding: 20px;
  border-radius: 12px;
  background: var(--box-bar-bg);
  border: 2px solid var(--box-border);
  resize: none;
  margin-bottom: 12px;
  cursor: pointer;
}
.input-textarea::-moz-placeholder {
  font-family: "DM Sans";
  font-size: 2rem;
  font-weight: 400;
  line-height: 140%;
  color: var(--body-text);
  letter-spacing: -0.6px;
}
.input-textarea, .input-textarea::placeholder {
  font-family: "DM Sans";
  font-size: 2rem;
  font-weight: 400;
  line-height: 140%;
  color: var(--body-text);
  letter-spacing: -0.6px;
}
.input-textarea:hover {
  background: var(--box-hover);
  border: 2px solid var(--box-border-hover);
}
.input-textarea:focus, .input-textarea:active {
  outline: none;
  background: var(--box-focus);
  border: 2px solid #c27cf8;
  box-shadow: 0 0 10px 0 #d3a0fa;
}
.input-textarea.invalid {
  order: 1px solid var(--error);
  box-shadow: 0 0 8px 0 var(--error);
}
.input-textarea.invalid + .error-message {
  display: block;
  opacity: 1;
}

.options {
  display: flex;
  gap: 24px;
  align-items: center;
}
.options__reading-time {
  flex: 1 1 30%;
  text-align: right;
}
.options__checkbox {
  display: flex;
  gap: 10px;
  align-items: center;
}

input[type=checkbox] {
  width: 16px;
  height: 16px;
  position: relative;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 4px;
  border: 1px solid var(--body-text);
  cursor: pointer;
}
input[type=checkbox]:checked, input[type=checkbox]:hover {
  padding: 2px;
  background: #d3a0fa !important;
  border: none;
}
input[type=checkbox]:checked::after, input[type=checkbox]:hover::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #12131a;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
input[type=checkbox]:focus-visible {
  outline: none;
  border: 1px solid #e4e4ef;
  background: #fff;
  box-shadow: 0px 0px 0px 2px #fff, 0px 0px 0px 4px #d3a0fa;
}

input[type=number] {
  width: 55px;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid #404254;
  padding: 4px 12px;
  outline: none;
  color: var(--body-text);
  font-family: "DM Sans";
  font-size: 1.6rem;
  line-height: 130%;
  letter-spacing: -0.6px;
  -moz-appearance: textfield;
  -webkit-appearance: none;
          appearance: none;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.stats-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 990px;
}

.stats-card {
  height: 150px;
  border-radius: 12px;
  align-items: flex-start;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #12131a;
  overflow: hidden;
  min-width: 200px;
  width: calc((100% - 32px) / 3);
}
.stats-card--purple {
  background-color: #d3a0fa;
  background-image: url(../assets/images/pattern-character-count.svg);
  background-repeat: no-repeat;
  background-position: right;
}
.stats-card__title {
  text-align: unset;
  color: #12131a;
}

header {
  max-width: 990px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 48px;
  justify-content: space-between;
}

.header-toggle {
  width: 44px;
  height: 44px;
  background-color: var(--mode-box);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header-toggle__icon {
  width: 22px;
  height: 22px;
}/*# sourceMappingURL=main.css.map */