.letters__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: $spacing-150;
  max-height: 155px;
  overflow-y: hidden;
}

.letters {
  &__item {
    display: flex;
    gap: 14px;
    align-items: center;
    align-self: stretch;
    width: 100%;
    height: 21px;
  }

  &__letter {
    width: 16px;
    height: auto;
  }

  &__bar {
    width: 100%;
    max-width: 859px;
    height: 12px;
    background-color: var(--box-bar-bg);
    border-radius: $raidus-full;

    &--fill {
      height: 12px;
      border-radius: $raidus-full;
      background-color: $color-purple-400;

      // width: 16.06%; //Place holder, will inline when rendering to DOM.
    }
  }
  &__percent {
    flex-grow: 1;
    text-align: right;
    min-width: fit-content;
  }
}
