.options {
  display: flex;
  gap: $spacing-300;
  align-items: center;
  flex-wrap: wrap;

  @include respond(phone) {
    flex-direction: column;
    align-items: unset;
    gap: $spacing-150;
  }

  &__reading-time {
    flex: 1 1 30%;
    text-align: right;
    min-width: fit-content;

    @include respond(phone-l) {
      text-align: left;
    }
  }

  &__checkbox {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  position: relative;

  background-color: transparent;
  appearance: none;

  border-radius: $radius-4;
  border: 1px solid var(--body-text);

  cursor: pointer;

  &:checked,
  &:hover {
    padding: 2px;
    background: $color-purple-400 !important;
    border: none;

    &::after {
      @include checked-state;
    }
  }

  &:focus-visible {
    outline: none;
    border: 1px solid $color-neutral-200;
    background: $color-neutral-0;
    box-shadow: 0px 0px 0px 2px $color-neutral-0,
      0px 0px 0px 4px $color-purple-400;
  }
}

input[type="number"] {
  width: 57px;
  height: 28px;
  background-color: transparent;
  border-radius: $radius-6;
  border: 1px solid $color-neutral-600;
  padding: $spacing-050 $spacing-150;
  outline: none;

  color: var(--body-text);
  font-family: "DM Sans";
  font-size: 1.6rem;
  line-height: 130%;
  letter-spacing: -0.6px;

  -moz-appearance: textfield;
  appearance: none;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
