*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* Default browser font size is 16px. This gives you 10px baseline, making it easier to calculate rems*/
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background-image: var(--body-background);
  // padding-top: $spacing-400;
  // padding-bottom: $spacing-800;
  padding: $spacing-400 $spacing-400 $spacing-800;
  transition: padding 0.3s ease-out;
  height: 100vh;

  @include respond(phone) {
    padding: $spacing-200;
  }
}

main {
  @include layout-sizing;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-600;
}
