@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

body {
  font-size: $default-font-size; //20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.6px;
  color: var(--body-text);
}

.title {
  font-size: 6.4rem; //64px - 40px Mobile
  letter-spacing: -1px;
  line-height: 100%;
  font-weight: 700;
  color: var(--title-text);
  width: 510px;
  text-align: center;
}

.subtitle {
  font-size: 2.4rem; //24px
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -1px;
}

.label {
  font-size: 1.6rem; //16x
  line-height: 130%;
}
