.error-message {
  font-size: 1.6rem;
  line-height: 130%;
  color: var(--error);
  opacity: 0;
  display: none;
  transition: opacity 0.5s ease;
  margin-bottom: $spacing-200;
}

.hide {
  display: none;
}
