header {
  @include layout-sizing;
  display: flex;
  margin-bottom: $spacing-600;
  justify-content: space-between;
}

.header {
  &-toggle {
    width: 44px;
    height: 44px;
    background-color: var(--mode-box);
    border-radius: $radius-8;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &__icon {
      width: 22px;
      height: 22px;
    }
  }
}
